<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <link rel="stylesheet" href="/normalize.css" />
      <title>
        {% block title %}
        {% endblock title %}
      - Zero 2 Prod</title>
    {% endblock head %}
  </head>
  <body>
    <div id="content">
      {% include "admin/nav.j2" %}
      {% block content %}
      {% endblock content %}
    </div>
    <div id="footer">
      {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
      {% endblock footer %}
    </div>
  </body>
</html>
