{% extends "admin/base.j2" %}
{% block title %}
  Change Password
{% endblock title %}
{% block content %}
  <h1>Change Password</h1>
  {% if error_messages|length > 0 %}
    <p>
      <ul>
        {% for error_message in error_messages %}<i>{{ error_message }}</i>{% endfor %}
      </ul>
    </p>
  {% endif %}
  <form action="/admin/password" method="post">
    <label>
      Current password
      <input type="password"
             placeholder="Enter current password"
             name="current_password"
             autocomplete="current-password"/>
    </label>
    <br />
    <label>
      New password
      <input type="password"
             placeholder="Enter new password"
             name="new_password"
             autocomplete="new-password"/>
    </label>
    <br />
    <label>
      Confirm new password
      <input type="password"
             placeholder="Type the new password again"
             name="new_password_check"
             autocomplete="new-password"/>
    </label>
    <br />
    <button type="submit">Change password</button>
  </form>
  <p>
    <a href="/admin/dashboard">&lt;- Back</a>
  </p>
{% endblock content %}
