<nav>
  <p>Welcome {{ username }}!</p>
  <p>Available actions:</p>
  <ul>
    <li>
      <a href="/admin/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="/admin/password">Change password</a>
    </li>
    <li>
      <a href="/admin/newsletters">Send a newsletter</a>
    </li>
    <li>
      <form action="/admin/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    </li>
  </ul>
</nav>
