<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
  </head>
  <body>
    {% if messages|length > 0 %}
      <p>
        <ul>
          {% for message in messages %}<i>{{ message }}</i>{% endfor %}
        </ul>
      </p>
    {% endif %}
    <form action="/login" method="post">
      <label>
        Username
        <input type="text" placeholder="Enter Username" name="username" />
      </label>
      <label>
        Password
        <input type="password" placeholder="Enter Password" name="password" />
      </label>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
